/*This is my SSB Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my SSB Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url(images/ishtar-deskmat.png);
  background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center center;
	
	
}

.center {
    width: 50%;
	padding: 2%;
    margin: 100px auto;
 	background: #222020f9; /*this uses opacity of 75% for the background color*/
	text-align: center;
}

   
#logo {
    margin-bottom: 16px;
	text-align: center;
	width: 40%;
	
	
}

#profile{
    margin-bottom: 16px;
	text-align: center;
	width: 40%;
	border: 5px solid #b81c0e6e;
	
	
}


h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family:'Exo 2', sans-serif;;
	font-size: 2.5em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	 font-family:'Exo 2', sans-serif;
	 font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family:'Exo 2', sans-serif;;
	font-size: 1em;
    line-height: 1.6;
    color: #fff;
}



nav {
	width: 60%;
	margin: 1.5em auto;
	
}

nav li{
	display: inline;
}


.hover-1 {
	background-image: linear-gradient(#E6D3B5 0 0);
	background-size: 0%;
  	background-repeat: no-repeat;
  	transition: .4s;
	
  
  
}
.hover-1:hover {
  background-size: 100%;
}






@media only screen and (max-width:600px) {
	h1 {
		font-size: 1em;
		line-height: 1.5em;
	}
	h2 {
		font-size: 1em;	
		line-height: 1.5em;
	}
}

/* Add a black background color to the top navigation */
.topnav {
	font-family:'Exo 2', sans-serif;;
	font-size: 1.2em;
    line-height: 1.6;
	background: #222020e9;
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #e6d3b5fe;
	color: #b81c0e;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #b81c0e;
	color: white;
  }

  .toplogo{
	background:#222020 ;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
	  width: 100%;
	}
  }